img { display: block; margin: 0 auto; padding: 16px 0 !important; }
form { background: white; }
.button { border: 1px solid white; background: #003399; }
.button:hover { background: #003399; }
.message { padding: 16px 0; }
.message-container { background: white; }
